*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;

  /* document colors */
  --tangerine: #f16718;
  --coral: #ff9b62;
  --navy: #162542;
  --stone: #7b8bad;
  --cloud: #e8eff2;
  --white: #fff;

  /* typography */
  font-family: 'Barlow', sans-serif;
}

h1,
h2,
h3 {
  color: var(--navy);
  font-weight: 900;
  text-transform: uppercase;
}

h1 {
  font-size: clamp(4.8rem, 4.2000rem + 1.6667vw, 5.6rem);
  line-height: 5.6rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 3.6rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 2.8rem;
}

body {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--stone);
  margin: 0 auto;
}

p {
  margin: 24px 0;
}

.increase {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 32px;
}

/* buttons */

button {
  font-weight: 700;
  color: var(--white);
  border: none;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  min-height: 4.8rem;
  padding: 11px 14px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 250ms;
}

/* orange button */
.btn-1 {
  background-color: var(--tangerine);
}

.btn-1:hover {
  background-color: var(--coral);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  transform: translateY(-1px);
}

.btn-1:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* blue button */
.btn-2 {
  background-color: var(--cloud);
  color: var(--navy);
}

.btn-2:hover {
  background-color: var(--navy);
  color: var(--white);
  transform: translateY(-1px);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-2:active {
  background-color: #03002d;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 65px;
  height: 65px;
  background-color: var(--tangerine);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px auto;
}

img {
  display: block;
}

img.photo {
  border-radius: 20px;
  
}

header img {
  border-radius: 0;
  height: 40px;
  width: 40px;
}

/* mobile grid */
.grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
  gap: 24px;
  margin: 24px;
  
}

.grid > *,
.cta-content,
.cta-img,
.features > * {
  grid-column: span 4;
}

.overview,
.cta,
.features {
  display: inherit;
  grid-template-columns: inherit;
  gap: inherit;
}

.overview-content,
.features {
  grid-column: span 4;
  text-align: center;
}

.overview img {
  /* height: min(100%, 220px); <- this is what was causing all that space to be there*/
  max-height: 220px; 
  margin-bottom: 75px;
}

.cta-img {
  max-width: unset;
  height: 372px;
  overflow: hidden;
}

.overview img:nth-of-type(1) {
  
  justify-self: right;
}

.overview img:nth-of-type(2) {
  grid-column: span 3;
  object-fit: cover;
}

footer {
  text-align: center;
}

@media screen and (min-width : 768px) { 
  
  
}

/* desktop grid 
.grid {
  display: grid;
  grid-template-columns: repeat(12, 65px);
  grid-template-rows: 120px repeat(3, 480px);
  gap: 30px;
  justify-content: center;
}

.grid > * {
  grid-column: 1 / span 12;
}

.cta {
  display: inherit;
  grid-template-columns: inherit;
  grid-gap: inherit;
}

.cta-content {
  grid-column: span 5;
  margin: auto;
}

.cta-img {
  grid-column: 7 / span 6;

}

.overview {
  display: inherit;
  grid-template-columns: inherit;
  grid-gap: inherit;
}

.overview-content {
  grid-column: 10 / span 3;
  margin: auto;
}

.overview img:nth-of-type(1) {
  grid-column: span 3;
  object-fit: cover;
  height: 100%;
}

.overview img:nth-of-type(1):before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 20em;
  height: 20em;
}

.overview img:nth-of-type(2) {
  grid-column: span 5; 
  object-fit: cover;
  height: 100%;
  
}
*/